<input type="file" style="display: none" (change)="game.loadGameFile($event)" accept=".res.json, application/json" #file>

<div class="fixed-top">
    <mdb-navbar SideClass="navbar navbar-expand navbar-dark elegant-color-dark" [containerInside]="false">
        <div class="container-fluid">
            <logo>
                <a class="navbar-brand" href="#">
                    Resonance
                    <i>v0.1</i>
                </a>
            </logo>
            <div *ngIf="!game.info">
                <a class="white-text btn btn-sm btn-blue-grey" type="button" (click)="game.newGameFile()">
                    NEW GAME
                </a>
                <a class="white-text btn btn-sm btn-blue-grey" type="button" (click)="file.click()">
                    LOAD GAME
                </a>
                <a class="white-text btn btn-sm btn-danger" type="button" (click)="game.loadMockGame()">
                    <i>DEBUG - LOAD MOCK</i>
                </a>
            </div>
            <div *ngIf=" game.info ">
                <a class="white-text btn btn-sm btn-blue-grey " type="button " (click)="game.newGameFile()">
                    NEW GAME
                </a>
                <a class="white-text btn btn-sm btn-blue-grey " type="button " (click)="game.saveGameFile()">
                    SAVE GAME
                </a>
                <a class="white-text btn btn-sm btn-blue-grey " type="button " (click)="game.closeGameFile()">
                    CLOSE GAME
                </a>
            </div>
            <links>
                <span *ngIf="game.info" class="white-text nav-item ml-2">
                    {{game.info.name}}
                </span>
                <span *ngIf="!game.info" class="white-text nav-item ml-2">
                    <i>No Game Loaded</i>
                </span>
            </links>
        </div>
    </mdb-navbar>

    <mdb-navbar class="navigationMenu" SideClass="navbar navbar-expand navbar-dark elegant-color" [containerInside]="false">
        <div class="container-fluid">
            <form class="form-inline menu-buttons d-flex">
                <a class="btn btn-sm align-middle btn-elegant menu-button" type="button" routerLink="/home" routerLinkActive="active" mdbRippleRadius>
                    Home
                </a>
                <a class="btn btn-sm align-middle btn-elegant menu-button" type="button" routerLink="/game" routerLinkActive="active" mdbRippleRadius>
                    Game
                </a>
                <a class="btn btn-sm align-middle btn-elegant menu-button" type="button" routerLink="/players" routerLinkActive="active"
                    mdbRippleRadius>
                    Players
                </a>
                <a class="btn btn-sm align-middle btn-elegant menu-button" type="button" routerLink="/characters" routerLinkActive="active"
                    mdbRippleRadius>
                    Characters
                </a>
                <a class="btn btn-sm align-middle btn-elegant menu-button" type="button" routerLink="/world" routerLinkActive="active" mdbRippleRadius>
                    World
                </a>
                <a class="btn btn-sm align-middle btn-elegant menu-button" type="button" routerLink="/chronicle" routerLinkActive="active"
                    mdbRippleRadius>
                    Chronicle
                </a>
                <a class="btn btn-sm align-middle btn-elegant menu-button" type="button" routerLink="/reports" routerLinkActive="active"
                    mdbRippleRadius>
                    Reports
                </a>
            </form>
        </div>
    </mdb-navbar>
</div>